*,
::before,
::after {
  box-sizing: border-box;
}

.signup-container {
  align-items: center;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: var(--defaultBoxShadow);
  color: rgba(0, 0, 0, 1.0);
  cursor: default;
  display: flex;
  padding: 1.4rem;
  border-radius: 0.1rem;
  margin-bottom: 0.8rem;
}

.signup-container .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.signup-body {
  margin: 0 auto;
  width: 100%;
}

.signup-body fieldset {
  border-style: none;
  padding: 0;
  margin: 0;
}
.signup-body ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.signup-body input:not([type="checkbox"]),
.signup-body select {
  background: rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 0.2rem;
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.signup-body input[type="checkbox"] {
  margin-right: 0.3rem;
}

.signup-body label[for="shouldSignupNewsLetter"] {
  color: RGBA(5, 26, 72, 1.00);
  font-size: 0.8rem;
  text-align: center;
}

.signup-body select {
  height: 3rem;
}

.signup-highlight {
  background-color: RGBA(0, 0, 0, 0.025);
  border-radius: 0.2rem;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
}

.signup-notice {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  text-align: center;
}

button[disabled] {
  cursor: default;
}

.signup-button {
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.signup-button--primary:not([disabled]) {
  color: #fff;
  background-color: var(--brandPrimary);
}

.signup-button--primary:hover:not([disabled]) {
  filter: saturate(2);
}

.signup-button--block {
  display: block;
  width: 100%;
}
